<%- include('./partials/head'); %>
<body>
  <%- include('./partials/header'); %>
  
  <main>
    <div class="encabezado">
      <h2>Editar Nota</h2>
      <a href="/" id="volver">
        <i class="fa-solid fa-angle-left"></i>
        <p>Volver</p>
      </a>
    </div>
    <form class="formEdit" action="/note/<%= nota.id %>?_method=PUT" method="POST">
      <div class="titulo">
        <label for="title">Título de la nota</label>
        <input id="tituloInput" type="text" name="title" value="<%= nota.title %>">
      </div>
      <div class="content">
        <label for="content">Contenido de la nota</label>
        <textarea id="contentTextarea" name="content" id="content-textArea" cols="30" rows="10"><%= nota.content %></textarea>
      </div>
      <div class="editar-eliminar">
        <div class="editar">
          <button id="editButton" type="submit" id="editar">Editar Nota</button>
        </div>
      </form>
      <form class="eliminar" action="/note/delete/<%= nota.id %>?_method=DELETE" method="POST">
        <button id="deleteButton" type="submit" id="eliminar">Eliminar Nota</button>
      </form>
      </div>
  </main>

  <%- include('./partials/footer'); %>
</body>
</html>