<%- include('./partials/head'); %>
<body>
  <%- include('./partials/header'); %>
  <main>
    <h2 id="tituloIndex">TODAS LAS NOTAS</h2>
    <div class="notas-container">
      <section id="notasIndex">
        <% for(let i = 0; i < notes.length; i++) { %>
          <% if(notes[i].userId == usuarioLogueado.id) { %>
            <article id="nota">
              <h3 id="notaTitulo" style=<%= notes[i].color %>><%= notes[i].title %></h3>
              <p id="notaContenido"><%= notes[i].content %></p>
              <a href="/note/<%= notes[i].id %>" class="modal">
                <p id="verNota">Ver Nota</p>
              </a>
            </article>
          <% } %>
        <% } %>
      </section>
    </div>
  </main>

  <%- include('./partials/footer'); %>
</body>
</html>
