<%- include('./partials/head'); %>
<body>
  <header>
    <img src="/img/MyNotes.png" alt="My Notes App">
  </header>
  
  <main>

    <form id="form" action="/user/register" method="POST" enctype="multipart/form-data">
      
      <div class="nombreUsuario">

        <label for="userName">Nombre de usuario</label>

        <input type="text" name="userName" placeholder="Ingresa tu nombre de usuario" <%if(locals.old && old.userName) { %> value="<%=old.userName%>" <% } %>>
        
        <% if(locals.errors && errors.userName) { %>
          <span class="error"><%= errors.userName.msg %></span>
        <% } %>

      </div>

      <div class="email">
        
        <label for="email">Email</label>
        
        <input type="email" name="email" placeholder="Ingresa tu email" <%if(locals.old && old.email) { %> value="<%=old.email%>" <% } %>>
        
        <% if(locals.errors && errors.email) { %>
          <span class="error"><%= errors.email.msg %></span>
        <% } %>

      </div>

      <div class="contraseña">
        
        <label for="password">Contraseña</label>
        
        <input type="password" name="password" placeholder="Ingresa tu contraseña" <%if(locals.old && old.password) { %> value="<%=old.password%>" <% } %>>
        
        <% if(locals.errors && errors.password) { %>
          <span class="error"><%= errors.password.msg %></span>
        
        <% } %>
      
      </div>
      
      <div class="rep-contraseña">

        <label for="rePassword">Confirmar contraseña</label>

        <input type="password" name="rePassword" placeholder="Confirma tu contraseña" <%if(locals.old && old.rePassword) { %> value="<%=old.rePassword%>" <% } %>>
        
        <% if(locals.errors && errors.rePassword) { %>
          <span class="error"><%= errors.rePassword.msg %></span>
        <% } %>

      </div>

      <div class="avatar">

        <label for="avatar">Elegí tu foto de perfil</label>

        <input type="file" name="avatar" >

      </div>

      <div class="terms">

        <% if(locals.old && old.terms) { %>
          <input type="checkbox" name="terms" checked>
        <% } else { %>
          <input type="checkbox" name="terms">
        <% } %>

        <label for="terms">Acepto los <a href="">Terminos y Condiciónes</a></label>
            
      </div>
      <div class="terms-error">
        <% if(locals.errors && errors.terms) { %>
          <span class="error"><%= errors.terms.msg %></span>
        <% } %>
      </div>

      <div class="botones">
        <button id="resetButton" type="reset" form="form">Vaciar Campos</button>
        <button id="submitButton" type="submit">Registrarme</button>
      </div>

      <div class="yaTenesCuenta">
        <p>¿Ya estas registrado?</p>
        <a href="/user/login">Inicia sesión aquí</a>
      </div>
    </form>
    <img src="/img/register.png" alt="Register" id="registerImg">
  </main>

  <%- include('./partials/footer'); %>
</body>
</html>